<div id="#contact" class="contact">
  <div class="contact-content">
    <div class="contact-container">
      <h1 class="contact-headline">
        <span style="font-size: 1.1em; color: #9c581f; font-family: monospace"
          >04.</span
        >Get In Touch
      </h1>
    </div>
    <div class="form">
      <span>
        <span
          >I'm interested in new  <span style="color: #9c581f;">opportunites</span>- especially ambitious or large
          projects.
        </span>
        Wheather you have a question or just want to say hi, 
        <span style="color: #9c581f;"> I'll try my best to
            get back to you!</span>
      </span>
    </div>
    <a style="text-decoration: none" href="mailto:manishestha@gmail.com">
      <div class="button-container">
        <button class="content-button">
          <span style="font-weight: lighter; font-size: 1vw; color: rgb(228, 186, 186);">Say Hello</span>
        </button>
      </div>
    </a>
  </div>
</div>
