<div class="portfolio">
  <div class="portfolio-content">
    <div class="portfolio-container">
      <h1 class="portfolio-headline">
        <span style="font-size: 1.1em; color: #9c581f; font-family: monospace"
          >02.</span
        >
        Portfolio
      </h1>

      <div class="project">
        
      </div>

      <div class="project-2">
        <div class="project-overview-2">
          <span class="featured-project">Featured Project</span>
          <br />
          <br />
          <span class="project-title">Party Hub Website</span>
          <br />
          <br />
          <div class="project-description-2">
            <span
              >A single page website for
              <span style="color: #9c581f">Party Hub</span> application created
              with <span style="color: #9c581f">Angular</span>. Download Party
              Hub application and
              <span style="color: #9c581f">Preview demo.</span>
            </span>
          </div>
          <ul class="link-container"> 
            <li class="project-tools-2">
              <a href="">Angular</a>
              <a href="">CSS</a>
              <a href="">HTML</a>
              <a href="">BootStrap</a>
              <a href="">Typescript</a>
            </li>
          </ul>
          <ul class="link-container">
            <li class="project-links-2">
              <a
                target="_blank"
                href="https://github.com/Manish946/PartyHub-Hjemmeside"
                >Github</a
              >
              <a target="_blank" href="https://partyhub-22734.web.app/"
                >Website</a
              >
            </li>
          </ul>
        </div>

        <div class="project-picture-2">
          <a target="_blank" href="https://github.com/Manish946/PartyHub">
            <img src="assets/website.PNG" height="280" width="570" alt="" />
          </a>
        </div>

        <div class="project3">
          <div class="project-overview">
            <span class="featured-project">Featured Project</span>
          <br />
          <br />
            <span class="project-title">Personal Website</span>
          <br />
          <br />
            <div class="project-description">
              <span
                >Personal Website is a showcase of my
                <span style="color: #9c581f">Portfolio.</span> This website also
                includes my <span style="color: #9c581f">CV</span> and about me
                section.<span style="color: #9c581f"></span> Website is build
                from scratch using <span style="color: #9c581f">Angular.</span>
              </span>
            </div>
            <ul class="link-container">
              <li class="project-tools">
                <a href="">HTML</a>
                <a href="">CSS</a>
                <a href="">Typescript</a>
                <a href="">Angular</a>
              </li>
            </ul>
            <ul class="link-container">
              <li class="project-links">
                <a
                  target="_blank"
                  href="https://github.com/Manish946/Personalcv"
                  >Github</a
                >
              </li>
            </ul>
          </div>

          <div class="project-picture">
            <a target="_blank" href="https://github.com/Manish946/Personalcv">
              <img src="assets/Personalwebsite.PNG" height="280" alt="" />
            </a>
          </div>
        </div>

        <div class="project-overview-3">
          <span class="featured-project">Featured Project</span>
          <br />
          <br />
          <span class="project-title">Ebiograf</span>
          <br />
          <br />
          <div class="project-description-2">
            <span
              >A Web-Application to book a movie ticket through website.
              <span style="color: #9c581f">Ebiograf</span> application is created
              with <span style="color: #9c581f">Angular</span> and own Web API using ASP.NET Core. Click on image to 
              <span style="color: #9c581f">Preview demo.</span>
            </span>
          </div>

          <ul class="link-container">
            <li class="project-tools-2">
              <a href="">Angular</a>
              <a href="">C#</a>
              <a href="">WEB API</a>
              <a href="">BootStrap</a>           
              <a href="">ASP.NET</a>
              <a href="">HTML CSS</a>
            </li>
          </ul>
          <ul class="link-container">
            <li class="project-links-2">
              <a
                target="_blank"
                href="https://github.com/23102183xdap/Ebiograf.Web.API-Manish"
                >Github-Webapi</a
              >
              <a target="_blank" href="https://github.com/Manish946/EbiografAngular"
                >Github-Angular</a
              >
            </li>
          </ul>
        </div>

        <div class="project-picture-3">
          <a target="_blank" href="https://www.youtube.com/watch?v=kaEztT1oHtY">
            <img src="assets\thumbnail.PNG" height="280" alt="" />
          </a>
        </div>


        <div class="project-overview">
          <span class="featured-project">Featured Project</span>
          <br />
          <br />

          <span class="project-title">Party Hub</span>
          <br />
          <br />
          <div class="project-description">
            <span
              >Partyhub is a
              <span style="color: #9c581f">Spotify-API</span> based windows
              application created using
              <span style="color: #9c581f">WPF.</span> Discover Top & Latest
              song through <span style="color: #9c581f"></span> Swiping, add
              songs to your spotify playlist and view Top 50 most swiped Tracks
              on <span style="color: #9c581f">Partyhub. </span>
            </span>
          </div>
          <ul class="link-container">
            <li class="project-tools">
              <a href="">WPF</a>
              <a href="">Xaml</a>
              <a href="">C#</a>
              <a href="">Spotify-API</a>
              <a href="">VS</a>
            </li>
          </ul>

          <ul class="link-container">
            <li class="project-links">
              <a target="_blank" href="https://github.com/Manish946/PartyHub"
                >Github</a
              >
            </li>
          </ul>
        </div>

        <div class="project-picture">
          <a target="_blank" href="https://github.com/Manish946/PartyHub">
            <img
              src="https://partyhub-22734.web.app/assets/img/Preview3.png"
              height="280"
              alt=""
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
