<div id="#about" class="about">
  <div class="about-content">
    <div class="about-container">
      <h1 class="about-headline">
        <span style="font-size: 1.1em; color: #9c581f; font-family: monospace"
          >01.</span
        >
        About Me
      </h1>
      <span class="colored-text"></span>
      <div class="about-text">
        <p>
          <span>
            Hello, my name is Manish. At the moment, I'm pursuing a
            <span class="colored-text"
              >Datatechnician Specialization in Programming degree.</span
            >
            Mobile and Windows Application Development, as well as Web
            Development, are two of my greatest passions. My interest in
            software development began
            in 2010, while I was using <span class="colored-text">Windows XP softwares.</span> It has always been
            a desire of mine to develop my own software and games.
          </span>
        </p>

        <p>
          <span>
            <span class="colored-text">Well-organised person</span>, enjoys solving problem, and is focused with
            great attention to detail. My objective is to become a highly
            <span class="colored-text">skilled software developer.</span> I am known for being helpful and
            responsible as a person.
          </span>
        </p>

        <p>
          <span>
            I recently worked on a windows application using <span class="colored-text">WPF</span> and Web
            application with <span class="colored-text">Angular.</span> To see my personal projects, click on my
            portfolio.
          </span>
        </p>
        <p>
          <span>
            Here are a few technologies with which I've lately experimented:
          </span>
        </p>
        <ul class="Technologies-list">
          <li>C#</li>
          <li>WPF</li>
          <li>ANGULAR</li>
          <li>ASP.NET CORE</li>
          <li>TYPE SCRIPT</li>
          <li>WEB API</li>
        </ul>
      </div>
      <div class="picture">
        <img src="assets\Photo.jpg" height="200px" alt="" />
      </div>
    </div>
  </div>
</div>
