<div class="footer">
  <div class="footer-content">
    <div class="footer-container">

  <span class="footer-text">
    Designed and Built By <span style="color: #9c581f;">Manish Shrestha </span> 
  </span>  

  <div class="footer-links">
      <li class="list">
          <a href="https://github.com/Manish946" target="_blank">
           Github
          </a>

          <a href="https://www.linkedin.com/in/manish-shrestha-6734081a0/" target="_blank">
            Linkedin
          </a>
          
      </li>
  </div>
</div>
</div>


</div>