/*Home Full Layout*/
.home{
    display: flex;
    /*Flexes new element in column flow.*/
    flex-flow: column;
    height: 100%;
}

/*Parent Nav DIV with 2 Absolute positioned element*/
.nav-bar{
 position: relative;
 
 padding: 50px;
 flex: 0 1 auto;
}

/*---------------------------------------------------------------------------------------------------------*/
/* Logo Element*/
.logo{
    
    position: absolute;
    top: 0%;
    left: 2%;
    font-family: 'Poppins',sans-serif;
}
.logo-button{
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
}

.logo-button .button-content{
    position: relative;
}

.button-content h1{
position: absolute;
color: transparent;
transform: translate(-50);
font-size: 3em;
font-weight: 800;
}

.button-content h1:nth-child(1){
    color: transparent;
    -webkit-text-stroke: 2px #03a9f4;
}

.button-content h1:nth-child(2){
    color: #03a9f4;
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate{
    0%,100%
    {
        clip-path: polygon(0 24%, 18% 34%, 30% 41%, 38% 50%, 46% 59%, 55% 60%, 71% 51%, 100% 42%, 100% 100%, 0% 100%);

    }
    50%{
        clip-path: polygon(0 56%, 23% 65%, 38% 46%, 51% 41%, 66% 45%, 76% 53%, 91% 55%, 100% 76%, 100% 100%, 0% 100%);


    }
}


/*---------------------------------------------------------------------------------------------------------*/

/* Portfolio Element*/

.portfolio{
    
    position: absolute;
    padding: 5px;
    right: 2%;
    top: 5%;
    }


    /* Home Introduction Content*/

/*---------------------------------------------------------------------------------------------------------*/

.home-content{
    
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-flow: column;
}
