/*Home Full Layout*/
.home {
  display: flex;
  /*Flexes new element in column flow.*/
  flex-flow: column;
  height: 100%;
  overflow: visible;
  justify-content: space-around;
  align-self: baseline;
}

/*Parent Nav DIV with 2 Absolute positioned element*/
.nav-bar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  padding: 50px;
  flex: 0 1 auto;
  display: block;
}

/*---------------------------------------------------------------------------------------------------------*/
/* Logo Element*/
.logo {
  position: absolute;
  left: 10%;
  font-family: "Poppins", sans-serif;
  margin-top: -7px;
}
.logo-button {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
}

.logo-button .button-content {
  position: relative;
}

.button-content h1 {
  position: absolute;
  color: transparent;
  transform: translate(-50);
  font-size: 3.5em;
  font-weight: normal;
}

.button-content h1:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #9c581f;
}

.button-content h1:nth-child(2) {
  color: #e65817;
  animation: animate 4s ease-in-out infinite;
}

.button-content h1:nth-child(2):hover {
  color: #ff5100;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0 24%,
      18% 34%,
      30% 41%,
      38% 50%,
      46% 59%,
      55% 60%,
      71% 51%,
      100% 42%,
      100% 100%,
      0% 100%
    );
  }
  50% {
    clip-path: polygon(
      0 56%,
      23% 65%,
      38% 46%,
      51% 41%,
      66% 45%,
      76% 53%,
      91% 55%,
      100% 76%,
      100% 100%,
      0% 100%
    );
  }
}

/*---------------------------------------------------------------------------------------------------------*/

/* Portfolio Element*/

.navMenu {
  position: absolute;
  padding: 10px;
  right: 10%;
}
.navMenu a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 500;
  display: inline-block;
  padding-right: 20px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-family: monospace;
}

.navMenu a:hover {
  color: #9c581f;
}

.navMenu .dot {
  width: 6px;
  height: 6px;
  background-color: #f6f4e6;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:nth-child(1):hover ~ .dot {
  -webkit-transform: translateX(60px);
  transform: translateX(60px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
.navMenu a:nth-child(2):hover ~ .dot {
  -webkit-transform: translateX(175px);
  transform: translateX(175px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(3):hover ~ .dot {
  -webkit-transform: translateX(275px);
  transform: translateX(275px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(4):hover ~ .dot {
  -webkit-transform: translateX(365px);
  transform: translateX(365px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

/* Home Introduction Content*/

/*---------------------------------------------------------------------------------------------------------*/

.home-content {
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-flow: column;
}
.home-content h1 {
  font-size: 2.5em;
  line-height: 2.5em;
}

.home-content .content {
  position: relative;
  font-size: 2.5em;
  color: transparent;
  -webkit-text-stroke: 0.1vw #9c581f;
  text-transform: uppercase;
  overflow: hidden;
  animation: animate-intro 2s ease-in;
  white-space: pre;
  line-height: 1.5em;
}

.home-content .content::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  color: #e65817;
  -webkit-text-stroke: 0vw #9c581f;
  border-right: 2px solid #e65817;
  white-space: pre;
  overflow: hidden;
  animation: animate-context 5s linear infinite;
  animation-delay: 1.8s;
  line-height: 1.5em;
}

.line {
  animation: animate-line 1s ease-in-out;
}

.button-container {
  display: flex;
  align-content: center;
  margin-top: 2%;
  animation: animate-button 1.4s ease-in-out;
}
.home-content .content-button {
  cursor: pointer;
  border: 1px solid #9c581f;
  border-radius: 10px;
  outline: none;
  width: 50%;
  background-color: transparent;
  color: #9c581f;
  padding: 10px;
}

.home-content .content-button:hover {
  color: #e65817;
  border: 1px solid #e65817;
}

.home-content .intro-text {
  white-space: pre;
  padding-top: 1vh;
  padding-bottom: 1vh;
  overflow: hidden;
  animation: animate-intro 1.5s ease-in-out;
  line-height: 2.5vw;
}

.home-content .intro-text-small {
  font-size: 1.2em;
  overflow: hidden;
  animation: animate-intro 1.5s ease-in-out;
  line-height: 1.2em;
  white-space: pre;
}
@keyframes animate-intro {
  0%,
  10% {
    width: 0%;
  }

  90% {
    width: 100%;
  }
}

@keyframes animate-context {
  0%,
  10%,
  100% {
    width: 0%;
  }
  70%,
  90% {
    width: 100%;
  }
}

@keyframes animate-line {
  0% {
    width: 0%;
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  90% {
    width: 100%;
  }
}

@keyframes animate-button {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Responsive */

@media (max-width: 700px) {
  .home-content {
    margin-left: 20%;
    margin-right: auto;
  }
}

@media (max-width: 750px) {
  .navMenu {
    display: none;
    
  }

  .nav-bar {
    position: relative;
    position: -webkit-sticky;
    top: 0;
    padding: 50px;
    flex: 0 1 auto;
    display: block;
  }
}
