<div class="home">

<div class="nav-bar">
<!-- LOGO -->
  <div class="logo">
      <button class="logo-button">
          <div class="button-content">
            <h1>MS</h1>
            <h1>MS</h1>
          </div>
        
      </button>
  </div>

<!-- Portfolio -->

  <div class="portfolio">
      <h1>Portfolio</h1>
  </div>
</div>

<!-- Home page Content -->

<div class="home-content">
    
    <h1 data-text="Student Software Developer" class="content">Student Software Developer</h1>

</div>
</div>


<div>
    <h1>hello</h1>
</div>