.cv{
    display: flex;
    /*Flexes new element in column flow.*/
    flex-flow: column;
    height: 100%;
    width: 100%;
}


.cv .cv-content{
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-flow: column;
    width: 100%;
}
.cv-container{
    display: grid;
    grid-template-columns: 700px;
    grid-gap: 35px;
    padding: 10px;
}

.cv-headline{
    display: flex;
    align-items: center;
    width: 700px;
    font-family: monospace;
    font-size: 1.9em;
    grid-row: 1;

}

.cv-headline::after{
   content: '';
   flex: 1;
   margin-left: 1rem;
   height: 1px;
   background-color: rgb(122, 121, 121);
}



.cv-container .cv-text{
    text-align: left;
    grid-column: 1;
    font-family: monospace;
    font-size: 1.4em;
    padding: 0%;
    margin: 0%;
}

.cv-container .picture{
    text-align: center;
    grid-column: 1 / span 1;
}

@media (max-width: 1080px) {

    .cv-container {
        max-width: 90%;
        left: 0%;
        right: 0%;
      }


      .cv{
        display: flex;
        /*Flexes new element in column flow.*/
        flex-flow: column;
        height: 110%;
        width: 100%;
    }

}